.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}

.header_body {
    position: relative;
    /* поверх плашки */

    display: flex;
    /* flex-элементы по сторонам */
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_logo {
    flex: 0 0 60px;
    margin: 0 10px;
    /*            border-radius: 50%;*/
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header_logo img {
    max-width: 100%;
    display: block;
    /* Это лекарство от этого: у картинки в круглом блоке обрезается низ */
}

.header_burger {
    display: none;
}


.header_list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header_list li {
    /* "li" без точек */
    list-style: none;
    margin: 0 0 0 6px;
}
.header_list li:last-child {
    /* "li" без точек */
    list-style: none;
    margin: 0 18px 0 6px;
}

.header_link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    /* верхний регистр */
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 10px;
}

.header_link:hover {
    color: var(--color);
    border: 2px solid var(--color);
}