.wrapper {
    width: 70%;
    margin: auto;
}

.posts {
}

.posts > .post {
    padding: 20px 10px 20px 0;
    display: grid;
    grid-template-columns: 260px 1fr;
}

.posts > .post > .poster {
    display: flex;
    height: 160px;
    margin: 0 40px 0 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.posts > .post > div > .head {
    font-size: 2em;
    padding: 0 0 20px 0;
}

.posts > .post > div > .time {
    font-size: 14px;
    padding: 0 0 14px 0;
    color: #888;
}